@model IEnumerable<RentACar.Models.VehicleType>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Vehicle Types</h2>
<p>
    @Html.ActionLink("New Vehicle Type", "New", "VehicleTypes", null, new { @class = "btn btn-primary" })
</p>

@if (!Model.Any())
{
    <p>No Vehicle Types yet.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Vehicle Type</th>
                <th>Description</th>
                <th>CRUD</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink(item.Name, "Edit", "VehicleTypes", new { id = item.Id }, null)</td>
                    <td>@item.Description</td>
                    <td>@Html.ActionLink("Delete", "Delete", "VehicleTypes", new { id = item.Id }, null)</td>
                </tr>
            }
        </tbody>
    </table>
}